

    <div class="navigation">


        <div class="navIcoon"> <a href="/home"> <img src="/Icons/Home.svg"></a></div>
        <div class="navIcoon"> <a href="/paintings"> <img src="/Icons/Paintings.svg"></a></div>
        <div class="navIcoon"> <a href="/contact"> <img src="/Icons/Contact.svg"></a></div>

        <div class="navItem"> <a href="/home"> home</a></div>
        <div class="navItem"> <a href="/paintings"> schilderijen</a></div>
        <div class="navItem"> <a href="/contact"> contact</a></div>
    
    
    </div>





